<h1>Novo Galpao</h1>

<%= form_with(model: @warehouse) do |f| %>
  <div id = 'name'>
    <%= f.label :name, 'Nome' %>
    <%= f.text_field :name %>
  </div>

  <div id = 'description'>
    <%= f.label :description, 'Descricao' %>
    <%= f.text_field :description %>
  </div>

  <div id = 'code'>
    <%= f.label :code, 'Codigo' %>
    <%= f.text_field :code %>
  </div>

  <div id = 'address'>
    <%= f.label :address, 'Endereco' %>
    <%= f.text_field :address %>
  </div>

  <div id = 'city'>
    <%= f.label :city, 'Cidade' %>
    <%= f.text_field :city %>
  </div>

  <div id = 'zip_code'>
    <%= f.label :zip_code, 'CEP' %>
    <%= f.text_field :zip_code %>
  </div>

  <div id = 'area'>
    <%= f.label :area, 'Area' %>
    <%= f.number_field :area %>
  </div>

  <div id = 'submit'>
    <%= f.submit 'Enviar' %>
  </div>


<% end %>